In [2]:
import pandas as pd

In [3]:
df = pd.read_json('yelp_academic_dataset_covid_features.json', lines=True)
df.tail()

,business_id,highlights,delivery or takeout,Grubhub enabled,Call To Action enabled,Request a Quote Enabled,Covid Banner,Temporary Closed Until,Virtual Services Offered
209790,PAuSe4-JzDLq6YO6OKPeTg,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209791,GQEe9qAe2alEA1zzRzUr0w,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209792,T-PWmMvktw0nMNO4N5XLXA,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
209793,stVu6q5hDxQuppwoo6m0EQ,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
209794,UYig-qxG9zpzuMKns-1tDg,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    50000 non-null  object
 1   user_id      50000 non-null  object
 2   business_id  50000 non-null  object
 3   stars        50000 non-null  int64
 4   useful       50000 non-null  int64
 5   funny        50000 non-null  int64
 6   cool         50000 non-null  int64
 7   text         50000 non-null  object
 8   date         50000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 3.4+ MB

In [40]:
for c in df.columns:
    print(c, end=', ')

review_id, user_id, business_id, stars, useful, funny, cool, text, date,

In [41]:
for c in df.columns:
    print(c, df[c].dtype, end=', ')

review_id object, user_id object, business_id object, stars int64, useful int64, funny int64, cool int64, text object, date datetime64[ns],

In [42]:
for c in df.columns:
    print(f'v:{c}::{df[c].dtype},')

v:review_id::object,
v:user_id::object,
v:business_id::object,
v:stars::int64,
v:useful::int64,
v:funny::int64,
v:cool::int64,
v:text::object,
v:date::datetime64[ns],